/.metadata/
/.recommenders/
RayTracer/.vs/RayTracer/v15/ipch/AutoPCH/82859f87f66c7e47/SPHERE.ipch
RayTracer/.vs/RayTracer/v15/ipch/AutoPCH/7514bd3a80a5e20f/CAMERA.ipch
RayTracer/.vs/RayTracer/v15/Browse.VC.opendb
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
RayTracer/Release/RayTracer.ipdb
RayTracer/RayTracer/RayTracer.vcxproj.filters
RayTracer/RayTracer/RayTracer.vcxproj
RayTracer/.vs/RayTracer/v15/ipch/AutoPCH/ff690fb5fe5c411e/MAIN.ipch
RayTracer/RayTracer/Release/RayTracer.tlog/RayTracer.write.1u.tlog
RayTracer/RayTracer/Release/RayTracer.tlog/CL.write.1.tlog
RayTracer/RayTracer/Release/RayTracer.tlog/CL.read.1.tlog
RayTracer/.vs/RayTracer/v15/Browse.VC.db
RayTracer/Release/RayTracer.iobj
RayTracer/RayTracer/Release/RayTracer.tlog/link.read.1.tlog
RayTracer/.vs/RayTracer/v15/ipch/AutoPCH/41f57506798870d6/VEC.ipch
*.ipch
*.tlog
*.VC.db
*.iobj
*.filters
*.json
*.sqlite
*.vcxproj
